/**********GENERAL CONTENT STYLING***************/
body {
  background-color: hsl(0, 0%, 98%);
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  font-weight: 200;
  box-sizing: border-box;
}

/*****************STYLING FOR THE HEADER**********************/
.headerDiv {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.mainHeader {
  font-size: 1.9rem;
}

.spanHead {
  font-size: 2rem;
}

.spanHead,
h2 {
  font-weight: 600;
}

/******************STYLING FOR THE FOUR MAIN BOXES**********************/
.supervisorContainer,
.teamBuilderContainer,
.karmaContainer,
.calculatorContainer {
  width: 300px;
  height: 250px;
  padding: 1.5rem;
  border-top: solid 4px;
  border-radius: 15px;
  box-shadow: 0px 6px 5px 2px hsl(229, 6%, 66%);
  word-wrap: break-word;
  margin: 10px;
}

.supervisorContainer {
  border-color: hsl(180, 62%, 55%);
}

.teamBuilderContainer {
  border-color: hsl(0, 78%, 62%);
}

.karmaContainer {
  border-color: hsl(34, 97%, 64%);
}

.calculatorContainer {
  border-color: hsl(212, 86%, 64%);
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buildAndKarmaContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/***************************IMAGE POSITIONING********************/
img {
  float: right;
}

/***************************FOOTER STYLING**********************/
.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*********************mobile design styling ********************/
@media screen and (max-width: 992px) and (min-width: 639px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .supervisorContainer,
  .teamBuilderContainer,
  .karmaContainer,
  .calculatorContainer {
    width: 600px;
    height: 250px;
  }
}
