/**********GENERAL CONTENT STYLING***************/
body {
  background-color: hsl(0, 0%, 98%);
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  font-weight: 200;
  box-sizing: border-box;
}

/*****************STYLING FOR THE HEADER**********************/
.headerDiv {
  text-align: center;
  max-width: 50%;
  margin: auto;
  padding: 0 3.5rem;
}

.mainHeader {
  font-size: 1.9rem;
}

.spanHead {
  font-size: 2rem;
}

.spanHead,
h2 {
  font-weight: 600;
}

/******************STYLING FOR THE FOUR MAIN BOXES**********************/
.supervisorContainer,
.teamBuilderContainer,
.karmaContainer,
.calculatorContainer {
  padding: 1.5rem;
  border-top: solid 4px;
  border-radius: 15px;
  box-shadow: 0px 6px 5px 2px hsl(229, 6%, 66%);
  word-wrap: break-word;
}

.supervisorContainer {
  border-color: hsl(180, 62%, 55%);
}

.teamBuilderContainer {
  border-color: hsl(0, 78%, 62%);
}

.karmaContainer {
  border-color: hsl(34, 97%, 64%);
}

.calculatorContainer {
  border-color: hsl(212, 86%, 64%);
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10rem, auto);
  grid-gap: 2rem;
  max-width: 80%;
  margin: 4rem auto;
}

.karmaContainer {
  grid-column: 2/3;
  grid-row: 2;
}

.supervisorContainer {
  position: relative;
  top: 50%;
}

.calculatorContainer {
  position: relative;
  top: 50%;
}

/***************************IMAGE POSITIONING********************/
img {
  float: right;
}

/***************************FOOTER STYLING**********************/
.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*********************mobile design styling ********************/
@media screen and (max-width: 375px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 4rem auto;
  }

  .headerDiv {
    text-align: justify;
    max-width: 70%;
    margin: auto;
    padding: 0 2rem;
  }

  .supervisorContainer,
  .teamBuilderContainer,
  .karmaContainer,
  .calculatorContainer {
    width: 25rem;
    height: 15rem;
    margin-top: 1rem;
    padding: 1.5rem;
  }
}
